<style>
.site-header{
color:#3C484E;
}

.site-nav{
height:126px;
top: 0px !important;
}

.site-nav-right{
	margin-top: 36px;
	font-size: 13px;
display: unset;
}

.nav{
	text-align: center;
	font-weight: bold;
}

.nav li a{
color: rgba(0, 0, 0, 0.7);
}

.nav li{
width: 100px;
}

.nav li.nav-notre-projet{
width:150px; 
}



.site-nav-logo img{
height: max-content; 
				max-height: 100px;
}


@media (min-width: 900px){
	.author-template .post-feed, .home-template .post-feed, .tag-template .post-feed{
		margin-top: 30px;
	}
}

@media (max-width: 450px){
	.site-nav-right{
display: none;
	}
}
</style>

<nav class="site-nav">
    <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="https://blog.leratcurieux.fr"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="https://blog.leratcurieux.fr">{{@site.title}}</a>
	    {{/if}}
    </div>
    <div class="site-nav-right">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
